h1 {
    padding: 30px;
    margin: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    line-height: 50%;
    border: 5px solid white;
    width: 50%;
    color: grey;
    text-align: right;
}

body, header {
    background: #868383;
    text-align: center;
}

#big_wrapper {
    width: 1000px;
    margin: 15px auto;
}

#top-header {
    background: white;
    border: 1px solid white;
    padding: 2.5px;
    text-align: center;
}

#top-menu {
    background: white;
    text-align: center;
    margin-bottom: 20px;
}

#top-aside {
    background: white;
    width: 50%;
    float: right;
    height: 300px;
    float: right;
    margin-bottom: 20px;
}

#top-footer {
    background: white;
    width: 98%;
    padding: 10px;
    float: left;
}

#wrap {
    color: grey;
    background-color: white;
    float: left;
    width: 48%;
    height: 300px;
}

#zero {
    background-color: grey;
    color: white;
    padding: 20px;
    margin: 15px;
    height: 140px;
    text-align: center;
    width: 410px;
    


}

ul {
    list-style-type: none;
}

#headings {
    border: 5px solid white;
    padding: 12px;
    text-align: center;
    background-color: white;
    color: grey;
    width:  310px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    height: 10px;
    float: left;



    
}

#two {
    border: 5px solid white;
    padding: 12px;
    background-color: white;
    color: grey;
    width: 310px;
    text-align: center;
    height: 5px;
    float: left;

}